#main {
    text-align: center;
}

#music_buttons {

    text-align: center;


}

#music_button {
    
    margin-top: 208px;
    width: 220px;
    height: 220px;
    background-color: #b81515;
    font-size: 20px;


    
}

*{
    background-color: #44af69;
    font-family: "Silkscreen", sans-serif; 
    font-weight: bold;
}

#game_text {
    font-size: 50px; 
    color: black;
    font-family: "Silkscreen", sans-serif;  /*"Amatic SC", sans-serif*/
}

#but_a {
    
    font-size: 80px; 
    margin: 0 208px;
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-color: #2B9EB3;
    
}


#but_b {

    font-size: 80px; 
    margin: 0 208px;
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    background-color: #f8333c;
    
}




#but_a:hover, #but_b:hover, #music_button:hover{
    opacity: 0.5; /* Lower opacity when hovered */
}

#splash, #splashy {
    font-size: 50px; 
    text-align: center; 
}
